* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    height: 100%;
}

.main {
    overflow: hidden;
}

.contenedor1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(images/pizarra.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor2 {
    margin-top: 25%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoFoodies {
    width: 90%;
}

.contenedor2 p {
    color: #FFFFFF;
    /* font-family: 'Kalam', cursive; */
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
}

.contenedor3 {
    width: 100%;
}

.contenedor3 form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingresarDatos {
    margin: 12px 0px 12px 0px;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.datos {
    margin-left: 3px;
    width: 80%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}

i {
    margin: 1px 5px 0px 0px;
    color: #847c7c;
    font-size: 22px;
}

.ingresar {
    margin: 12px 0px 12px 0px;
    width: 140px;
    height: 28px;
    background: #D40A19;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 17px;
}

.iconosInicio {
    display: flex;

}

.iconosInicio img {
    margin: 10px 20px 20px 20px;
    width: 30px;
}

.text {
    margin: 10px 0px 6px 10px;
    color: #FFFFFF;
}

.link {
    color: #FFFFFF;
    font-weight: bolder;
    text-decoration: none;
}

/* Mensajes modales */

#mensajeModal {
    position: absolute;
    padding-top: 97%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.60);
    justify-content: center;
    align-items: center;
}

.mensaje .ph-envelope {
    color:#D40A19;
    font-size: 40px;
    font-weight:bolder;
}

.mensaje .ph-warning-circle{
    color:#D40A19;
    font-size: 40px;
    font-weight:bolder;
}

.mensaje {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    text-align: center;
    color:#D40A19;
    max-width: 90%;
    padding: 1%;
    margin: auto;
    font-weight: bold;
}

/* Muro */
.muroHeader {
    background-image: url(images/pizarra.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#foodiesLogo {
    width: 40%;
    margin: 5px 0px 5px 5px;
}

.derechaHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nombreUsuario{
    color:#FFFFFF;
    font-size: 15px;
}

.derechaHeader a {
    width: 30px;   
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 30px;
    margin-left: 5px;
}

.iconoUsuario{
    width: 100%;
    border-radius: 100%;
}

.derechaHeader i {
    margin: 5px 8px 5px 8px;
    font-weight: bold;
}

.categorias {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 4% 5% 0% 5%;
}

.listaCategorias {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 5px 20px;
}

.listaCategorias li {
    color: #D40A19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 10%;
    height: 10%;
    font-size: 80%;
}

.listaCategorias img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#compartir {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.description, .postDescription {
    border-radius: 10px;
    border: 1px solid rgba(23, 21, 21, 0.28);
    margin: 2%;
    padding: 1%;
    font-size: 18px;
}

.botonesCompartir {
    display: flex;
    justify-content: space-between;
    margin: 1% 3% 3% 3%;
}

#añadirImagen {
    display: none;
}

.btn {
    width: 110px;
    height: 30px;
    background: #D40A19;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.seccionCompartir{
    display: flex;
    justify-content: space-between;
}

.botonesCompartir i{
    color: #D40A19;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Publicaciones*/
.posts{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.headerPost{
    display:flex;
    justify-content:space-between;
    margin: 2%;
}

.categoria{
    font-size: 15px;
    color: #CFBABA;
    margin: 1%;
}
.usuarioPost{
    display:flex;
    justify-content: flex-start;
}

.usuarioPost h1{
    font-size: 20px;
    margin: 1%;
}

.imgUsuario{
    width: 10%;
    height: 88%;
    border-radius: 50%;
}

.posts p{
    margin: 3%;
    font-size: 18px;
}
.botones{
    display: flex;
    justify-content: space-between;
}

.botonesUsuario{
    font-size: 18px;
    margin-right: 8px;
}

#linea{
    margin: 0px 6px 0px 6px;
    background: #f0e9e9 ;
}

.likes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ph-heart-bold{
    margin: 5px 0px 5px 8px;
    color: #D40A19;
}

#contador{
    margin-left: 0px; 
    color:#847c7c;
    font-size: 16px;
}

#modalEditar {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.60);
    justify-content: center;
    align-items: center;
}

.postEdition {
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    max-width: 90%;
    padding: 1%;
    margin: 10%;
}

.categoriasEditar{
    background: #847c7c;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
}

.botonesEditar{
    margin-left: 15%;
}

/*Perfil*/
.portada, .userImagenes{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.userPortada{
    width: 100%;
    height: 50%;
}

.userFoto{
    width: 40%;
    position: absolute;
    margin-top: 75%;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.userTitle{
    margin-top: 18%;
}


/* Pantalla inicio */

@media screen and (min-width: 768px) {
 
    .contenedor1 {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        }

    .contenedor2  {   
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 22%;
        }

    #logoFoodies {
        width: 70%;
        }
    .contenedorNew3{
        margin-right: 16%;
        margin-top: 8%;
    }        
}

